html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;

  margin: 0;

  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
}

header {
  background-color: var(--color-primary);

  font-family: "schwifty";
  font-size: var(--font-size-heading);
  text-align: center;

  color: var(--color-terciary);

  padding: 12px 0px;
}

main {
  background-color: var(--color-terciary);
}

footer {
  background-color: var(--color-secondary);
  text-align: center;
  font-family: "orbitron";
}
