:root {
  --color-primary: #88e23b;
  --color-secondary: #ebe480;
  --color-terciary: #043c6e;

  --colordanger: red;
  --color-warning: orange;


  --body-font: serif;

  --font-size-heading: 48px;
  --font-size-title: 24px;
  --font-size-base: 16px;
}
