:root {
  --color-primary: #88e23b;
  --color-secondary: #ebe480;
  --color-terciary: #043c6e;

  --color-danger: darkred;
  --color-warning: orange;

  --color-console-dark: #02afc5;
  --color-console-light: #a9f3fd;
  --color-console-text: antiquewhite;

  --font-family-body: serif;

  --font-size-heading: 48px;
  --font-size-base: 26px;
  --font-size-field-titles: 17px;
}
